header {
    position: sticky;
    top: 0;
    padding: 10px 16px;
    background-color: #2e3944;
    color: #5a635b;
}
body {
    background-color: #212a31;
    margin: 0px;
    font-family: "Lucida Console", monospace !important;
}
h1 {
    color: #d3d9d4;
    font-size: 300%;
}
h2 {
    color: #d3d9d4;
    font-size: 250%;
}
h3 {
    color: #d3d9d4;
    font-size: 200%;
}
form {
    color: #d3d9d4;
    background-color: #124e66;
    padding: 3px;
    text-align: center;
    border: 8px solid #2e3944;
    width: 200px;
    margin: auto;
    border-radius: 20px;
}
button {
    display: block;
    margin: auto;
    cursor: pointer;
    color: #d3d9d4;
    background-color: #124e66;
    padding: 3px;
    text-align: center;
    border: 8px solid #2e3944;
    width: 200px;
    transition: 0.5s;
    border-radius: 25px;
}
button:hover {
    transform: scale(1.1) 
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2e3944;
}
li {
    float: left;
} 
li a {
    color: #d3d9d4;
    text-align: center;
    padding: 12px 18px;
    text-decoration: none;
  }
li a:hover {
    background-color: #748d92;
}