header {
    background-color: #2e3944;
}
body {
    background-color: #212a31;
}
h1 {
    color: #d3d9d4;
    font-size: 300%;
}
h2 {
    color: #d3d9d4;
    font-size: 250%;
}
h3 {
    color: #d3d9d4;
    font-size: 200%;
}
footer {
    background-color: #2e3944;
    color: #d3d9d4;
}