<!DOCTYPE html>
<html>

    <head>
        <title>Account</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/static/css/stylings.css">
     </head>

     <header>
        <ul>
           <li><a href="/">Home</a></li>
           <li><a href="/subjects">Subjects</a></li>
           <li style="float:right"><a href="/account">Account</a></li>
           <li style="float:right"><a href="/logout">Logout</a></li>
        </ul>
     </header>

     <body>
      <h1 style="text-align: center;">{{name}}'s Account</h1>

      <div id="account_info" class="parent">
         <div class="child">Account Details:
            <div class="child">Username: {{name}}</div>
            <div class="child">Email: {{email}}</div>
         </div>
         <div class="child">Subjects:
            {% for sub in subs %}
               <div class="child">{{sub}}</div>
            {% endfor %}
         </div>
      </div>

      <button id="sub_edit" onclick="edit_subjects()">Edit subjects</button>

      <form id="edit_form" method="post" action="/account/subject_change" style="display: none;">
         <input type="checkbox" name="maths_check" id="maths_check" {% if maths %}checked{% endif %}>Mathematics<br>
         <input type="checkbox" name="comp_check" id="comp_check" {% if compsci %}checked{% endif %}>Computer Science<br>
         <input type="submit">
      </form>
     </body>

     <footer>
      <script src="/static/js/account_funcs.js"> </script>
     </footer>

</html>