<!DOCTYPE html>
<html>

    <head>
        <title>Account</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/static/css/main_styles.css">
     </head>

     <header>
        <ul>
           <li><a href="/">Home</a></li>
           <li><a href="/subjects">Subjects</a></li>
           <li style="float:right"><a href="/account">Account</a></li>
           <li style="float:right"><a href="/logout">Logout</a></li>
        </ul>
     </header>

     <body>
      <h1 style="text-align: center;">{{name}}'s Account</h1>
      <div>
         <table>
            <tr>
               <th style="text-align: left;">Account Details</th>
               <th style="text-align: right;">Subjects</th>
            </tr>
            <tr>
               <td style="text-align: left;">Username: {{name}}</td>
               <td>
                  <form>
                     <input type="checkbox" value="maths">
                     <label>Maths</label>
                  </form>
               </td>
            </tr>
            <tr>
               <td style="text-align: left;">Email: {{email}}</td>
               <td style="text-align: right;">
                  <input type="checkbox" value="compsci">
                  <label>Computer Science</label>
               </td>
            </tr>
         </table>
      </div>
     </body>

     <footer>
     </footer>

</html>