<!DOCTYPE html>
<html>

    <head>
        <title>Failure</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/static/css/stylings.css">
        <script src="/static/js/login_funcs.js"> </script>
    </head>

    <header>
        <ul>
           <li><a href="/">Home</a></li>
           <li><a href="/subjects">Subjects</a></li>
           <li style="float:right"><a href="/account">Account</a></li>
           <li style="float:right"><a href="/login">Login</a></li>
        </ul>
    </header>

    <body>
        <h1 style="text-align: center;">Account info updater has failed</h1>
        <h1 style="text-align: center;">Please try again</h1>
        <button onclick="window.location.href='/account'">Try Again</button>
    </body>

    <footer>
    </footer>

</html>