<!DOCTYPE html>
<html>
    <head>
        <title>Failure</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
      <link rel="stylesheet" type="text/css" href="/static/css/main_styles.css">
      <script src="/static/js/login_funcs.js"> </script>
    </head>

    <body>
        <audio autoplay loop>
            <source src="/static/audio/failure-steven-he.mp3" type="audio/mpeg">
        </audio>

        <img height= src="/static/images/stephenhe.jpg">
    </body>
</html>