<!DOCTYPE html>
<html>
   
   <head>
      <title>Login</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
      <link rel="stylesheet" type="text/css" href="/static/css/stylings.css">
   </head>
   
   <header>
      <ul>
         <li><a href="/">Home</a></li>
         <li><a href="/subjects">Subjects</a></li>
         <li><a href="/progress">Progress</a></li>
         <li style="float:right"><a href="/account">Account</a></li>
         <li style="float:right"><a href="/login">Login</a></li>
      </ul>
   </header>

   <body>
      <h1 style="text-align: center;">Revise Wizz</h1>
      <h2 id="choice_text" style="text-align: center;">Login or create an account</h2>

      <button type="button" id="create_acc" onclick="create_account()">Create an Account</button>
      <button type="button" id="login_acc" onclick="login_account()">Login</button>
      
      <div id="create_form"  style="display: none;" >
         <form method="post" action="/register" class="register">
            <label for="new_uname">Username:</label><br>
            <input type="text" id="new_uname" name="new_uname" placeholder="Username..." required><br>
            <label for="new_password">Password:</label><br>
            <input type="password" id="new_password" name="new_password" placeholder="Pa55w0rd!..." required><br>
            <label for="email">Email:</label><br>
            <input type="text" id="new_email" name="new_email" placeholder="example@domain.com..." required><br>
            <input type="submit" id="submit"><br>
         </form><br>
         <label class="invalid" id="len_check">8-16 characters long (inclusive)</label><br>
         <label class="invalid" id="upper_check">At least 1 uppercase letter</label><br>
         <label class="invalid" id="lower_check">At least 1 lowercase letter</label><br>
         <label class="invalid" id="num_check">At least 1 number</label><br>
         <label class="invalid" id="spec_check">At least 1 special character</label><br>
         <label>Username must be 3-16 characters (inclusive) and may only contain alphanumerical characters</label><br>
         <button onclick="window.location.href='/login'">Back</button>
      </div>

      <form id="login_form" method="post" style="display: none;" action="/login_check">
         <label for="uname">Username:</label><br>
         <input type="text" id="uname" name="uname" placeholder="Username..." required><br>
         <label for="pword">Password:</label><br>
         <input type="password" id="pword" name="pword" placeholder="Pa55w0rd!..." required><br>
         <label for="email">Email:</label><br>
         <input type="email" id="email" name="email" placeholder="example@domain.com..." required><br>
         <input type="submit"><br><br>
         <button onclick="window.location.href='/login'">Back</button>
      </form>
   </body>


   <footer>
      <script src="/static/js/login_funcs.js"> </script>
   </footer>

</html>