<!DOCTYPE html>
<html>
    
    <head>
        <title>Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/static/css/stylings.css">
    </head>
    
    <header>
        <ul>
           <li><a href="/">Home</a></li>
           <li><a href="/subjects">Subjects</a></li>
           <li style="float:right"><a href="/account">Account</a></li>
           <li style="float:right"><a href="/logout">Logout</a></li>
        </ul>
     </header>

    <body>
        
        <h1 style="text-align: center;">Welcome {{name}} to Revise Wizz</h1>
        <h2 style="text-align: center;">Please select an option below</h2>

        <div>
            <button onclick="document.location='account'">Account</button>
            <button onclick="document.location='subjects'">Subjects</button>
        </div>
        <div>
            <button onclick="document.location=''">{{name}}'s Progress</button>
            <button onclick="document.location='logout'">Logout</button>
        </div>
    </body>

    <footer>
    </footer>
    
</html>