<!DOCTYPE html>
<html>
    
    <head>
        <title>Subjects</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/static/css/stylings.css">
    </head>
    
    <header>
        <ul>
           <li><a href="/">Home</a></li>
           <li><a href="/subjects">Subjects</a></li>
           <li style="float:right"><a href="/account">Account</a></li>
           <li style="float:right"><a href="/logout">Logout</a></li>
        </ul>
     </header>

    <body>
        <h1 id="welcome_text" style="text-align: center;">Here are your subjects, {{name}}</h1>

        <div id="subject_options">
            <button>Create Quiz</button>
            <button onclick="create_question()">Create Question</button>
        </div>

        <form id="create_question_form" style="display: none;">
            <label for="subject_choice">Select a subject:</label>
            <select name="subject_choice" id="subject_choice">
                {% for sub in subs %}
                <option value="{{sub}}">{{sub}}</option>
                {% endfor %}
            </select><br>
            <label for="topic_choice">Select a topic:</label>
            <select name="topic_choice" id="topic_choice">
                {% for topic in topics %}
                <option value="{{topic}}">{{topic}}</option>
                {% endfor %}
            </select>
            <br><input type="submit">
        </form>
    </body>

    <footer>
        <script src="/static/js/subject_funcs.js"> </script>
    </footer>
</html>